body {
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 100px;
  display: flex;
}

.cabecera {
  position: relative;
  display: flex;
  justify-content: center;
}
.cabecera .play {
  position: absolute;
  top: 0;
  left: 39%;
}

.instagram {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 50px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ubicacion {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}
.ubicacion .btn-ubi {
  position: absolute;
  top: 70%;
  left: 38%;
  cursor: pointer;
  width: 350px;
}

.foto {
  position: relative;
  justify-content: center;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.foto .brillitos {
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: -1;
}
.foto .brillitos1 {
  position: absolute;
  right: 0;
  bottom: 100px;
  z-index: -1;
}
.foto .btn-wpp {
  position: absolute;
  top: 55%;
  left: 31%;
  width: 350px;
}
.foto .ubi {
  margin: 50px;
}
.foto .marco {
  z-index: 1;
}

.fotito {
  position: absolute;
  top: 7%;
  z-index: 2;
}

#boton1 {
  position: absolute;
  top: -1px;
  left: 15%;
  background: #F7DE7A;
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  transition: 0.5s;
  font-size: 25px;
  text-align: center;
}

#boton1:hover {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  border: 3px solid white;
  color: #a8013c;
  text-align: center;
}

#boton2 {
  background: #F7DE7A;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 50%;
  border: 10px solid white;
  transition: 0.5s;
  font-size: 40px;
  text-align: center;
}

#boton2:hover {
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 50% rgb(0, 0, 0);
  color: rgb(166, 3, 6);
  text-align: center;
}

.timming {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.countdown div {
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 10px 10px;
}

p {
  display: grid;
  place-items: center;
  height: 80px;
  width: 80px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  background-image: url("../img/Marcotiming.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

span {
  display: block;
  padding: 1px;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
}

.final-sms {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  transform: translateY(-100%);
  transition: ease-in-out 0.5s;
  background-color: #333;
}

.final-sms h2 {
  text-align: center;
  font-size: 100px;
  color: #fff;
}

/*base code*/
.animatedFoto {
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}/*# sourceMappingURL=main.css.map */