body{
  background-color:black;
  margin:10px;
}
.section1{
  display:flex;
  justify-content: center;
  margin-top:20px;
  .play{
    position:relative;
  button{
    position:absolute;
    top:-1px;
    left:0%;
    background: #F7DE7A;
    width: 50px;
    height: 50px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    //border: 3px solid white;
    transition: 0.5s;
    font-size: 25px;
    text-align: center;
  }
  }
}
.section2{
  display: flex;
  justify-content: center;
  .instagram{
    position:relative;
    .link{
      position:absolute;
      top:0;
      left:0;
      background-color: #a8013b00;
      top:5px;
      left:5px;
      width:40px;
      height: 40px;;
      color: rgba(206, 9, 9, 0);
    }
    .link2{
      position:absolute;
      background-color: #a8013b00;
      top:25px;
      right:0;
      width:160px;
      height: 20px;;
      color: rgba(255, 255, 255, 0);
    }
  }
}
.section3{
  display: flex;
  justify-content: center;
  img{
   width:100%;
  }
}
.section4{
  display: flex;
  justify-content: center
  
  



}.section5{
  position:relative;
  .marco{
    width:100%;
  }
  .fotito{
    position:absolute;
    top:6%;
    left:19.5%;
img{
  width:60vw;
}
  }
}.section6{
  margin:10px;
  .ubi{
    width:100%;
  }
}.section7{
  margin:10px;
  .ubi{
    width:100%;
  }
  
.imagen1{
  position:relative;
  
  .btnwpp{
    width:50vw;
    position:absolute;
    top:45%;
    left:22%;
  }
}
}.section8{
  display: flex;
  justify-content: center
}
.imagen2{
  position:relative;
  
  .btnubi{
    width:50vw;
    position:absolute;
    top:65%;
    left:22%;
  }
}





.timming{
  overflow-y: auto;
  display: flex;
  justify-content:center; 
  margin-bottom: 20px;
  margin-top: 20px;
}
.countdown{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.countdown div{
  display: grid;
  place-items: center;
}
h1{
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 10px 10px;
}
p{
  display: grid;
  place-items: center;
  height: 10vw;
  width: 10vw;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  background-image: url("../img/Marcotiming.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;


}
span{
  display: block;
  padding: 1px;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}
.final-sms{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  transform: translateY(-100%);
  transition: ease-in-out 0.5s;
  background-color: #333;
}
.final-sms h2{
  text-align: center;
  font-size: 100px;
  color: #fff;
}
