body {
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  display: flex;
}

.cabecera {
  position: relative;
  justify-content: center;
  display: grid;
}
.cabecera .play {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
.cabecera .instagram {
  position: relative;
}
.cabecera .instagram .link a {
  position: absolute;
  background-color: rgba(168, 1, 59, 0);
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0);
}
.cabecera .instagram .link2 a {
  position: absolute;
  background-color: rgba(168, 1, 59, 0);
  top: 25px;
  left: 150px;
  width: 160px;
  height: 20px;
  color: rgba(255, 255, 255, 0);
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.timming {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
}

.countdown div {
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 10px 10px;
}

p {
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  background-image: url("../img/Marcotiming.png");
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  display: block;
  padding: 1px;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.final-sms {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  transform: translateY(-100%);
  transition: ease-in-out 0.5s;
  background-color: #333;
}

.final-sms h2 {
  text-align: center;
  font-size: 100px;
  color: #fff;
}

#boton1 {
  position: absolute;
  top: -1px;
  left: 15%;
  background: #F7DE7A;
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  transition: 0.5s;
  font-size: 25px;
  text-align: center;
}

#boton1:hover {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  border: 3px solid white;
  color: #a8013c;
  text-align: center;
}

#boton2 {
  background: #F7DE7A;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 50%;
  border: 10px solid white;
  transition: 0.5s;
  font-size: 40px;
  text-align: center;
}

#boton2:hover {
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 50% rgb(0, 0, 0);
  color: rgb(166, 3, 6);
  text-align: center;
}

.foto {
  position: relative;
  justify-content: center;
  display: flex;
  justify-content: center;
}
.foto .ubi {
  width: 100%;
  margin: 50px;
}
.foto .marco {
  z-index: 1;
}

.fotito {
  position: absolute;
  top: 7%;
  z-index: 2;
}

.brillitos {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  top: -150px;
}

.brillitos1 {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  top: -150px;
}

/*base code*/
.animatedFoto {
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

/*base code*/
.animatedPlay {
  -webkit-animation-duration: 3s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 3s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.wpp {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ubicacion {
  width: 20vw;
  margin: 20px;
}

.btn-ubi {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #262833;
  border: 1px solid #F7DE7A;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 65%;
}
.btn-ubi a {
  text-decoration: none;
  color: white;
}
.btn-ubi:hover {
  background-color: #34374b;
  border: 1px solid #F7DE7A;
}

.btn-wpp {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #262833;
  border: 1px solid #F7DE7A;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
}
.btn-wpp a {
  text-decoration: none;
  color: white;
}
.btn-wpp:hover {
  background-color: #34374b;
  border: 1px solid #F7DE7A;
}/*# sourceMappingURL=main.css.map */